BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: Never
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

ColumnLimit: 0

PointerAlignment: Left
SpaceBeforeParens: ControlStatements
Cpp11BracedListStyle: true
SortIncludes: false

ReflowComments: true
InsertTrailingCommas: None
MaxEmptyLinesToKeep: 1
KeepEmptyLinesAtTheStartOfBlocks: false

IndentCaseLabels: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
SpaceAfterCStyleCast: false
SpacesInParentheses: false
SpacesInSquareBrackets: false